In [2]:
import pandas as pd
# Creating a simple Series
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
import pandas as pd
series = pd.Series([10, 20, 30])
print(series.index)
# Output: RangeIndex(start=0, stop=3, step=1)
# User Defined:
series = pd.Series([10, 20, 30],index=['a','b','c'])
print(series)
# Output:
# a 10
# b 20
# c 30
#datestime index
dates = pd.date_range('2023-01-01', periods=3)
series = pd.Series([10, 20, 30], index=dates)
print(series)

RangeIndex(start=0, stop=3, step=1)
a    10
b    20
c    30
dtype: int64
2023-01-01    10
2023-01-02    20
2023-01-03    30
Freq: D, dtype: int64

In [7]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# Filter rows where Age > 28
filtered_rows = df[df['Age'] > 28]
print(filtered_rows)

      Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000

In [8]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# Drop the 'Salary' column
df_without_salary = df.drop(columns=['Salary'])
print(df_without_salary)

# Drop the row with index 1 (Bob)
df_without_row = df.drop(index=1)
print(df_without_row)

# Add a new column for Bonus
df['Bonus'] = df['Salary'] * 0.1
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
      Name  Age  Salary
0    Alice   25   50000
2  Charlie   35   70000
      Name  Age  Salary   Bonus
0    Alice   25   50000  5000.0
1      Bob   30   60000  6000.0
2  Charlie   35   70000  7000.0

In [9]:
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np

# Load the Iris dataset
iris = load_iris()

# Create DataFrame with features + target
iris_df = pd.DataFrame(
    data=np.c_[iris['data'], iris['target']],
    columns=iris['feature_names'] + ['target']
)

# Introduce missing values randomly
np.random.seed(42)
mask = np.random.rand(*iris_df.shape) < 0.1  # ~10% missing
iris_df[mask] = np.nan

print("Missing Values in Iris Dataset:")
print(iris_df.isnull().sum())

Missing Values in Iris Dataset:
sepal length (cm)    15
sepal width (cm)     15
petal length (cm)    19
petal width (cm)     15
target               19
dtype: int64

In [10]:
# Problem 1 - Data Read, Write and Inspect:
import pandas as pd
df = pd.read_csv("bank.csv")
df.head()

# Columns with dtype=object
print(df.info())
object_cols = df.select_dtypes(include='object').columns
print("Object columns:", object_cols.tolist())

#unique values 
for col in object_cols:
    print(f"\nUnique values in {col}:")
    print(df[col].unique())

#null values 
print("\nNull values per column:")
print(df.isnull().sum())

#drop
numeric_df = df.drop(columns=object_cols)

numeric_df.to_csv("banknumericdata.csv", index=False)

print("\nNumeric DataFrame saved as 'banknumericdata.csv'")

#read
numeric_df = pd.read_csv("banknumericdata.csv")

# Summary statistics
print("\nSummary statistics:")
print(numeric_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
None
Object columns: ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'y']

Unique values in job:
['management' 'technician' 'entrepreneur' 'blue-collar' 'unknown'
 'retired' 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid'
 'student']

Unique values in marital:
['married' 'single' 'divorced']

Unique values in education:
['tertiary' 'secondary' 'unknown' 'primary']

Unique values in default:
['no' 'yes']

Unique values in housing:
['yes' 'no']

Unique values in loan:
['no' 'yes']

Unique values in contact:
['unknown' 'cellular' 'telephone']

Unique values in month:
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']

Unique values in poutcome:
['unknown' 'failure' 'other' 'success']

Unique values in y:
['no' 'yes']

Null values per column:
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

Numeric DataFrame saved as 'banknumericdata.csv'

Summary statistics:
                age        balance           day      duration      campaign  \
count  45211.000000   45211.000000  45211.000000  45211.000000  45211.000000
mean      40.936210    1362.272058     15.806419    258.163080      2.763841
std       10.618762    3044.765829      8.322476    257.527812      3.098021
min       18.000000   -8019.000000      1.000000      0.000000      1.000000
25%       33.000000      72.000000      8.000000    103.000000      1.000000
50%       39.000000     448.000000     16.000000    180.000000      2.000000
75%       48.000000    1428.000000     21.000000    319.000000      3.000000
max       95.000000  102127.000000     31.000000   4918.000000     63.000000

              pdays      previous
count  45211.000000  45211.000000
mean      40.197828      0.580323
std      100.128746      2.303441
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       -1.000000      0.000000
max      871.000000    275.000000

In [2]:
#Problem 2 - Data Imputations:
import pandas as pd

# Load the dataset
df = pd.read_csv("medical_students_dataset.csv")

# Show first few rows
df.head()

# Check info about columns and data types
df.info()

# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())

# Example: fill numeric column 'Age' with median
df['Age'] = df['Age'].fillna(df['Age'].median())
# Why Median for Age?
# - Age is numeric → so we need a numerical replacement.
# - If we used the mean, extreme values (like a few very old or very young students) could skew the result.
# - The median is more robust because it represents the middle value and is less sensitive to outliers.


# Example: fill categorical column 'Gender' with mode
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])
# - Gender is categorical (e.g., "Male", "Female", "Other").
# - You can’t calculate mean or median for categories.
# - The mode (most frequent value) is the logical choice because it preserves the most common category.



# Check number of duplicate rows
print("Duplicate rows:", df.duplicated().sum())

# Drop duplicates if any
df = df.drop_duplicates()

# Confirm again
print("After removing duplicates:", df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Student ID      180000 non-null  float64
 1   Age             180000 non-null  float64
 2   Gender          180000 non-null  object
 3   Height          180000 non-null  float64
 4   Weight          180000 non-null  float64
 5   Blood Type      180000 non-null  object
 6   BMI             180000 non-null  float64
 7   Temperature     180000 non-null  float64
 8   Heart Rate      180000 non-null  float64
 9   Blood Pressure  180000 non-null  float64
 10  Cholesterol     180000 non-null  float64
 11  Diabetes        180000 non-null  object
 12  Smoking         180000 non-null  object
dtypes: float64(9), object(4)
memory usage: 19.8+ MB

Missing values per column:
Student ID        20000
Age               20000
Gender            20000
Height            20000
Weight            20000
Blood Type        20000
BMI               20000
Temperature       20000
Heart Rate        20000
Blood Pressure    20000
Cholesterol       20000
Diabetes          20000
Smoking           20000
dtype: int64
Duplicate rows: 8611
After removing duplicates: 0

In [4]:
# 3.2 Exercises - Data Cleaning and Transformations with ”Titanic Dataset”:
# Dataset Used: "titanic.csv"
# Problem - 1:
import pandas as pd

# Load dataset
df = pd.read_csv("Titanic-Dataset.csv")

# Quick look
df.head()
subset_df = df[['Name', 'Pclass', 'Sex', 'Age', 'Fare', 'Survived']]
subset_df.head()
first_class_df = subset_df[subset_df['Pclass'] == 1]
first_class_df.head()

mean_fare = first_class_df['Fare'].mean()
median_fare = first_class_df['Fare'].median()
max_fare = first_class_df['Fare'].max()
min_fare = first_class_df['Fare'].min()

print("Mean Fare:", mean_fare)
print("Median Fare:", median_fare)
print("Maximum Fare:", max_fare)
print("Minimum Fare:", min_fare)
#problem2
# Count null values in Age column
null_age_count = first_class_df['Age'].isnull().sum()
print("Number of null values in Age column:", null_age_count)
# Drop rows where Age is null
cleaned_df = first_class_df.dropna(subset=['Age'])

# no nulls check it 
print("Null values in Age after dropping:", cleaned_df['Age'].isnull().sum())

#problem3

Mean Fare: 84.1546875
Median Fare: 60.287499999999994
Maximum Fare: 512.3292
Minimum Fare: 0.0